@media (max-width: 280px) {
  footer {
    padding: 0 15px;
  }
}

@media (max-width: 414px) {
  .container-banner {
    height: 200px;
  }
  .container-banner h1 {
    font: 700 2.8rem "OfficinaSerITC";
    padding: 32px 55px;
  }
  .container-h2 h2 {
    font: 700 2.5rem arial, sans-serif;
    text-align: justify;
    padding: 50px 15px 0px 15px;
    word-spacing:-5px;
  }
  .container-cont {
    padding: 40px 19px 0 19px;
  }
  p {
    font-size: 2rem;
    text-align: justify;
    padding: 0px 10px;
      }
  .container-button {
    padding: 15px;
  }
  .container-button button {
    
    font: 700 1.5rem arial, sans-serif;
    
    padding: 15px 30px;
   
  }
}
@media (max-width: 650px) {
  
  .container-button {
    padding: 15px;
  }
}
@media (max-width: 1900px) {
  p {
    text-align: justify;
  }
}

